.article {
  display: flex;
  gap: 270px;
  padding-top: 66px;
}

.text {
  margin: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #fff;
}

.text_heading {
  margin-bottom: 18px;
  font-size: 50px;
  line-height: 58px;
}

.text_subheading {
  margin-bottom: 26px;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}

.text_paragraph {
  margin-bottom: 99px;
  font-size: 14px;
  line-height: 22px;
}

.article__link {
  text-decoration: none;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  transition: color .2s ease;
}

.article__link:hover {
  color: #3ddc84;
}

.article__image {
  max-width: 270px;
  object-fit: contain;
  object-position: center center;
  display: block;
  border-radius: 10px;
}

@media screen and (max-width: 1026px) {
  .article {
    gap: 49px;
  }
}

@media screen and (max-width: 768px) {
  .text_heading {
    margin-bottom: 16px;
    font-size: 40px;
    line-height: 40px;
  }

  .text_subheading {
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 18px;
  }

  .text_paragraph {
    margin-bottom: 87px;
    font-size: 12px;
    line-height: 18px;
  }

  .article__image {
    max-width: 255px;
    max-height: 307px;
  }

}