@font-face {
  src: url(./Inter/Inter-Regular.woff2) format('woff2');
  font-family: 'Inter';
  font-weight: normal;
  font-display: swap;
}

@font-face {
  src: url(./Inter/Inter-Regular.woff) format('woff');
  font-family: 'Inter';
  font-weight: normal;
  font-display: swap;
}