.body-overlay {
  overflow: hidden;
}

.nav {
  display: flex;
  align-items: center;
}

.nav__films {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.nav-wrapper {
  display: flex;
  align-items: center;
}

.nav__item {
  margin: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  text-decoration: none;
  color: #fff;
  transition: text-decoration .2s ease;
}

.nav__item_default {
  font-weight: 400;
}

.nav__item_active {
  font-weight: 500;
}

.nav__item_margin-left {
  margin-left: 20px;
}

.nav__item:hover {
  text-decoration: underline;
}

.nav__button-wrapper {
  display: flex;
  justify-content: center;
}

.nav__button {
  all: unset;
}

.nav__button_account {
  display: flex;
  align-items: center;
  padding: 10px 3px 10px 11px;
  background: #202020;
  border-radius: 40px;
  margin: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 12px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  transition-duration: .3s;
}

.nav__button_account::after {
  content: '';
  margin-left: 7px;
  width: 26px;
  height: 26px;
  background: url(../../images/account-icon.svg) center center no-repeat #313131;
  border-radius: 50%;
}

.nav__button_account:hover {
  transform: scale(1.2, 1.2);
}

.nav__button_enter {
  margin-left: 30px;
  padding: 8px 20px;
  background: #3ddc84;
  border-radius: 3px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #000;
  cursor: pointer;
  transition-duration: 0.4s;
}

.nav__button_enter:hover {
  transform: scale(1.2, 1.2);
}

.nav__burger-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100%;
  padding: 159px 0 90px;
  color: inherit;
}

.nav__burger-menu-films {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;
}

.nav__burger-menu-item {
  margin: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
}

.nav__burger-menu-item_default {
  text-decoration: none;
}

.nav__burger-menu-item_active {
  text-decoration: underline;
}

@media screen and (max-width: 481px) {
  .nav__burger-menu {
    padding: 144px 0 46px;
  }

  .nav__burger-menu-films {
    gap: 24px;
  }
}

@media screen and (max-width: 321px) {
  .nav__item {
    font-size: 10px;
    line-height: 16px;
  }

  .nav__button_enter {
    padding: 5px 12px;
    background: #3ddc84;
    border-radius: 3px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
  }
}