.heading {
  margin: 0;
  padding-bottom: 26px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
  color: #fff;
}

.content {
  margin: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .content {
    line-height: 18px;
  }
}