.footer {
  padding: 79px 70px 20px;
  text-align: center;
}

.footer__text {
  margin: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.footer__text_primary {
  color: #fff;
}

.footer__text_secondary {
  margin-bottom: 20px;
  color: #8b8b8b;
}

.footer__info-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  border-top: solid 1px #424242;
}

.footer__resources-info {
  display: flex;
  justify-content: space-between;
  min-width: 182px;
}