.link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin-bottom: 19px;
}

.link__name {
  margin: 0;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  color: #fff;
}

.link__icon {
  margin: 0 0 0 20px;
  padding:  0;
  box-sizing: border-box;
  width: 29px;
  height: 29px;
  /*background: url(../../images/arrow.svg) center center no-repeat;*/
  text-decoration: none;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
}

.link__icon:hover {
  transform: scale(1.3, 1.3);
}

.link__icon-image {
  margin: 0;
  width: 29px;
  object-fit: contain;
  object-position: center center;
  display: block;
  box-sizing: border-box;
}

.separator {
  margin: 0 0 20px;
  height: 1px;
  background-color: #424242;;
  border: none;
}

@media screen and (max-width: 769px) {
  .link__name {
    font-size: 28px;
  }

  .link__icon-image {
    width: 27px;
    height: 27px;
  }
}

@media screen and (max-width: 562px) {
  .link__name {
    font-size: 18px;
    line-height: 28px;
  }

  .link__icon-image {
    width: 18px;
    height: 18px;
  }
}